
p{
    color: skyblue;
    text-align: left;
}

#back_header{
    background-color: black;
    width: 100%;
    height: 150px;
    margin: 0;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
}

#menu_3_linee{
    cursor:pointer;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linea{
    width: 100%;
    height: 3px;
    background-color: dimgray;
    border-radius: 10px;
}

#logo_container{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#logo_img{
    height: 150px;
    width: auto;
    z-index: 2;
}

.scritta_container{
    max-width: 0;
    opacity: 0;
    overflow: hidden;

    transition: all 0.5s ease-in-out;

    display: flex;
    align-items: center;
    margin-left: 0;
}

#scritta_logo{
    height: 150px;
    width: auto;
    white-space: nowrap;
}

#logo_container:hover .scritta_container{
    max-width: 200px;
    opacity: 1;
    margin-left: 10px;
}

#profile{
    cursor: pointer;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.body_login{
    margin: 0;
    padding: 0;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    margin-top: 15%;
    background-color: bisque;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 20%;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

#h1_login{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: black;
}

#p_login{
    text-align: center;
    font-size: 1rem;;
    color:#777;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

.login_left{
    flex: 1;
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
}


.login_field{
    margin-bottom: 10%;
    text-align: left;
}

.login_field label{
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 0.9rem;
    color:#000;
}

.login_field input{
    width: 100%;
    padding: 5%;
    border-radius: 10%;
    color: black;
    text-align: left;
    border: 1px solid black;
    font-size: 1rem;
    box-sizing: border-box;

}

#btn_sumbit{
    width: 100%;
    min-width: 200px;
    padding:5%;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    margin-top:5%;
}

#btn_sumbit:hover{
    color: skyblue;
}

.login_right{
    flex: 1;
    background-color: black;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


#logo_login{
    width: 100%;
    max-height: 300px;
    object-fit: cover; 
    border-radius: 10%;
    border: 1px solid black;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#scritta_logo_login{
    width: 200px;
}

.not_login{
    text-align: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

#footer {
    width: 100%;
    background-color: black;
    margin-top: auto;
}

#back_footer {
    width: 100%;
    height: 150px;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#logo_image_footer {
    height: 100px;
    width: auto;
}

#about_us p {
    color: white;
    margin: 0;
    font-size: 14px;
}

.footer-section h3 {
    color: skyblue;
    margin-bottom: 15px;
    font-size: 18px;
    margin-top: 0;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: skyblue;
}


#about_us h3,
.footer-section h3 {
    color: skyblue;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 18px;
}


#about_us ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#about_us ul li {
    margin-bottom: 8px;
}

#about_us ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

#about_us ul li a:hover {
    color: skyblue;
}

.image_container {
    width: 100%;
    max-width: 800px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}


#imghp {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#imghp img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.scritta_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}

/*transition for h1 and p in homepage*/
@keyframes fadeInLeft {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.scritta_img h1 {
    color: white;
    font-size: 50px;
    font-family: Copperplate, "Copperplate Gothic Light";
    animation: fadeInLeft 2.6s ease-out forwards;
    text-align: center;
    margin-top: 50px;
}


.scritta_img p {
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    opacity: 0;
    animation: fadeInLeft 2.6s ease-out forwards;
    animation-delay: 0.5s;
    text-align: center;
}

.first_section {
    background-color: gainsboro;
    display: flex;
    width: 100%;
    min-height: 400px;
    padding: 50px 0;
}

#first_s_left {
    /*50% of total space in div*/
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.img_1s {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: -50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.img_1s:nth-child(1) {
 margin-left: 0;
}

.img_1s:nth-child(2) {
    transform: translateY(-60px);
    z-index: 10;
}

.img_circle {
    width: 100%;
    height: 100%;
} 

#first_s_right {
    flex:1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

.content_1s {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.class_var {
    background-color: #ffffff;
    padding: 80px 20px;
    text-align: center;
    width: 100%;
}

.title_var {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.title_var h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: black;
}

.title_var h3 {
    font-size: 1rem;;
    color:#777;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
}

.content_var {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    text-align: justify;
}

.content_var p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #4b5563;
    margin-bottom: 30px;
}

.left_var, .right_var {
    flex: 1;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #444;
}

.left_var strong {
    color: #000;
    font-weight: bold;
}

.content_var strong {
    color: #000;
    font-weight: bold;
}

@keyframes arrivesFromLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Animation of the second section*/
@keyframes arrivesFromRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.left_var {
    animation: arrivesFromLeft 1.2s ease-out forwards;
}

.right_var {
    animation: arrivesFromRight 1.2s ease-out forwards;
    /*delyed*/
    animation-delay: 0.2s;
    opacity: 0;
}

/*Highlight specific words */
.class_var strong {
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: default;
    padding: 0 4px;
    border-radius: 4px;
}

.class_var strong:hover  {
    color: white;
    background-color: #333;
}

#first_s_right h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #000
}

#first_s_right h4 {
    font-size: 0.9rem;
    color: #888;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    width: 100%;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

#first_s_right p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #4a5568;
    max-width: 500px;
    margin: 0 auto;
}

.class_container {
    background-color: gainsboro;
    padding: 80px 20px;
    text-align: center;
}

.titoli_section {
    margin-bottom: 60px;
}

.titoli_section h1{
    font-size: 3rem;
    color:#000;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2;
}

.titoli_section h5 {
    font-size: 1rem;;
    color:#777;
     text-transform: uppercase;
     letter-spacing: 3px;
     font-weight: 400;
     margin: 0;
}

.principale_container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.imgsection {
    background: white;
    flex: 1;
    min-width: 280;
    max-width: 350;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgsection:hover {
transform: translateY(-10px);
}

.imgsectionin {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 25px;
    border: 5px solid gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgsectionin img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgsection h3 {
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.imgsection p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
    margin: 0;
}

#menu_container ul{
    list-style-type: none; /*to remove dot*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #555;
    justify-content: center;
    display: flex;
}

#menu_container ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#s_4_class_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

#s_4_class_container .img_4s{
    width: 500px;
    max-width: 100%;
    height: 400px;
    border-radius: 10%;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: block;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#sec_4_left{
    flex: 3;
}

#sec_4_left h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #000
}

#sec_4_left h3{
    font-size: 0.9rem;
    color: #888;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-transform: uppercase;
    width: 100%;
    max-width: 350px;
    line-height: 1.5;
}

#sec_4_left details{
    margin-bottom: 15px;
    overflow: hidden;
}

#sec_4_left p{
    margin-left: 10px;
    font-size: 1rem;
    line-height: 1.4;
    color:rgba(0,0,0,0.5);
    max-width: 500px;
}

/*open section title*/
#sec_4_left details[open] summary{
    color: blue;
} 

#sec_4_left details[open] .arrow::after{
    color: blue;
} 

.hidden_sec{
    font-weight: bold;
}

#sec_4_right{
    flex:2;
}

#btn_auth{
    display: flex;
    align-items: center;
}

#btn_login, #btn_register{
    color: honeydew;
    text-decoration: none;
    background-color: cadetblue;
    border: 5px solid cadetblue;
    font-size: 1.2rem;
    font-weight: bold;
}
