<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Chi siamo </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">

</head>
<body>
    {% include 'header.html' %}

<main>
     <div class="About_us">
        <h1>Il Team di After Var</h1>
        <h2>Dal Campo allo Schermo al Var, la partita continua su After Var"</h2>
        <h3>La Nostra Missione</h3>
            <p>"Finito il VAR, c’è After Var". Siamo partiti da una domanda semplice: 
                quante volte, dopo il fischio finale di una partita di calcio, le discussioni sugli episodi 
                arbitrali continuano per ore tra amici? After Var nasce con l'obiettivo di digitalizzare queste discussioni, 
                creando la prima community interamente dedicata al giudizio collettivo sugli episodi da moviola. Volevamo trasformare 
                il tifoso da spettatore passivo a giudice attivo, promuovendo il Fair Play  attraverso il confronto e la tecnologia.</p>
        <h3>Il Progetto Accademico</h3>
            <p>Questo portale è stato sviluppato come progetto finale per il corso di Tecnologie Web (A.A. 2025/2026).
                L'obiettivo didattico è quello di creare una piattaforma interattiva che permettesse agli utenti di rivedere 
                le azioni (tramite video) ed esprimere il proprio giudizio ("Rigore", "Fuorigioco", "Simulazione") in tempo reale.</p>
        <h3>Il Team di Sviluppo</h3>
            <p>Dietro le quinte di After Var ci sono tre studenti appassionati di calcio e tecnologia:
               Mattia Calabrese, Emanuele Chiariello e Alfonso Lanzuise, abbiamo ricoperto vari ruoli</p>
        <ol>
            <li>Ruolo: Backend Developer e Database Architect: Ci siamo occupati della gestione dei dati, 
                assicurandoci che ogni voto e ogni commento della community venissero salvati correttamente.
                 Abbiamo strutturato il database per gestire gli utenti, gli arbitri e gli episodi dubbi in modo efficiente.</li>
            <li>Ruolo: Frontend Developer: Abbiamo curato il design dell'interfaccia, ispirandoci alla grafica televisiva del VAR reale. 
                Il nostro obiettivo era rendere l'esperienza utente su mobile  intuitiva, permettendo di votare con un semplice tocco.</li>
            <li>Ruolo: Full Stack Developer e Project Manager: Ognuno di noi ha coordinato lo sviluppo delle funzionalità, 
                collegando la logica del sito all'interfaccia grafica. Ci siamo assicurati che il flusso 'Dal Campo allo Schermo'  
                fosse fluido e senza problematiche."</li>
        </ol>
        <h3>Perché questo progetto?</h3>
            <p>Abbiamo voluto unire l'utile (l'esame universitario) al dilettevole (la passione per il calcio),
                 dimostrando come le tecnologie web moderne possano creare nuovi spazi di aggregazione sociale.</p>
    </div>
 </main>

    {% include 'footer.html' %}

</body>
</html>