<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Episodi</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">

</head>
<body>
    {% include 'header.html' %}

    <main>
<div>
    <h1>Primo caso: Inter-Napoli</h1>
    <p>Il difensore dell'Inter (Denzel Dumfries) viene ostacolato dal centrocampista del Napoli(Frank Zambo Anguissa), l'arbitro
        concede il calcio di rigore.Secondo voi l'intensità del contatto era tale da assegnare un rigore?
    </p>
    <video width="33%" height="33%" controls>
        <source src="static/video_salvati/video1.mp4" type="video/mp4">
        Il tuo browser non supporta il tag video.
    </video>
    </div>
    <div>
        <h1>Secondo caso: Cagliari-Lecce</h1>
        <p>Il centrocampista del Cagliari (Gianluca Gaetano) commette un fallo sul giocatore del Lecce(Ylber
            Ramadani) e viene espulso.Secondo voi l'intensità del contatto era tale da assegnare un cartellino
            rosso?
        </p>
      <video width="33%" height="33%" controls>
        <source src="static/video_salvati/video3.mp4" type="video/mp4">
        Il tuo browser non supporta il tag video.
    </video>
    </div>
     <div>
        <h1>Terzo caso: Monza Juve</h1>
        <p>L'attaccante del Monza(Patrick Ciurria) colpisce il centrocampista della Juventus
            (Weston McKennie) e la palla gli rimbalza sulla parte alta del corpo. Non viene
            assegnato il rigore dall'arbitro perchè considerato un contatto non punibile.
            Secondo voi il contatto era punibile con un rigore?
        </p>
    <video width="33%" height="33%" controls >
        <source src="static/video_salvati/video2.mp4" type="video/mp4">
        Il tuo browser non supporta il tag video.
    </video>
    </div>
    </main>

    {% include 'footer.html' %}

</body>
</html>
