<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Episodi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">
</head>
<body>

    {% include 'header.html' %}

    <!--section js, like_dislike, comment for no repeat-->
    {% macro interaction(id_video) %}
    <div class="interactive_sec" data-id="{{ id_video }}">
        <div class="like_dislike_sec">
            <button class="btn_like_dislike btn_green" onclick="LikeOrNot(this, 'like')">
                &#128077; </button>
            <button class="btn_like_dislike btn_red" onclick="LikeOrNot(this, 'dislike')">
                &#128078; </button>
        </div>

        <div class="ref_decision">
            <span class="decision_lbl">La giuria arbitrale ha deciso correttamente?</span>
            <div class="decision_btn">
                <button class="btn_right_wrong" onclick="RightOrNot(this, 'giusta')">Si!</button>
                <button class="btn_right_wrong" onclick="RightOrNot(this, 'sbagliata')">No!</button>
            </div>
        </div>

        <div class="comment">
            <div class="comment_sec">
                <input type="text" class="comment_box" placeholder="Scrivi il tuo parere..">
                <button class="btn_comment" onclick="InviaCommento(this)">Invia</button>
                <a href="{{ url_for('VisualizzaCommenti', video_id=id_video) }} ">Leggi Tutti i Commenti</a>
            </div>
        </div>
    </div>
    {% endmacro %}

    <main class="ep_main">
        <div class="ep_title">
            <h1>Tutte le decisioni di OpenVar</h1>
            <p>Rivivile giornata per giornata!</p>
        </div>

        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 1</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/lecce milan.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Lecce-Milan</h3>
                        <p>Il goal è stato annullato</p>
                        {{ interaction(1) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/milan bologna .mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Milan-Bologna</h3>
                        <p>Il rigore è stato revocato</p>
                        {{ interaction(2) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/sassuolo lazio.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Sassuolo-Lazio</h3>
                        <p>Revoca del rosso, cartellino giallo</p>
                        {{ interaction(3) }}
                    </div>
                </div>
            </div>
        </section>

        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 2</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/bologna genoa.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Bologna-Genoa</h3>
                        <p>Il rigore è stato concesso</p>
                        {{ interaction(4) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/verona juve.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Verona-Juve</h3>
                        <p>Il rigore è stato concesso</p>
                        {{ interaction(5) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/napoli pisa.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Napoli-Pisa</h3>
                        <p>Fallo di mano</p>
                        {{ interaction(6) }}
                    </div>
                </div>
            </div>
        </section>
         <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 3</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/como cremonese.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Como-Cremonese</h3>
                        <p>Intervento da cartellino rosso</p>
                        {{ interaction(7) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/pisa fiorentina.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Pisa-Fiorentina</h3>
                        <p>Fallo di mano</p>
                        {{ interaction(8) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/sassuolo udinese.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Sassuolo-Udinese</h3>
                        <p>Assegnazione del rigore</p>
                        {{ interaction(9) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 4</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/juve milan.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Juve-Milan</h3>
                        <p>Assegnazione del rigore</p>
                        {{ interaction(10) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/lazio torino.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Lazio-Torino</h3>
                        <p>Assegnazione del rigore</p>
                        {{ interaction(11) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/verona sassuolo.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Verona-Sassuolo</h3>
                        <p>Revoca del rigore</p>
                        {{ interaction(12) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 5</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/milan fiorentina.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Milan-Fiorentina</h3>
                        <p>Assegnazione del rigore</p>
                        {{ interaction(13) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/pisa verona.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Pisa-Verona</h3>
                        <p>Tocco di mano, considerato non punibile</p>
                        {{ interaction(14) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/torino napoli.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Torino-Napoli</h3>
                        <p>Goal considerato regolare, giocata indiretta del difensore</p>
                        {{ interaction(15) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 6</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/napoli inter.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Napoli-Inter</h3>
                        <p>Assegnazione del rigore</p>
                        {{ interaction(16) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/lazio juve.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Lazio-Juve</h3>
                        <p>Fallo da step on foot, non considerato punibile</p>
                        {{ interaction(17) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/fiorentina bologna.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Fiorentina-Bologna</h3>
                        <p>Fallo in area di rigore, considerato non punibile</p>
                        {{ interaction(18) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 7</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/inter fiorentina.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Inter-Fiorentina</h3>
                        <p>Fallo in area di rigore, considerato non punibile</p>
                        {{ interaction(19) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/roma parma.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Roma-Parma</h3>
                        <p>Fuorigioco o gioca indiretta, goal annullato</p>
                        {{ interaction(20) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/verona inter.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Verona-Inter</h3>
                        <p>Fallo per dogso, considerato non punibile</p>
                        {{ interaction(21) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 8</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/bologna napoli.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Bologna-Napoli</h3>
                        <p>Fallo di reazione, considerato non punibile</p>
                        {{ interaction(22) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/lecce verona.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Lecce-Verona</h3>
                        <p>Rigore revocato</p>
                        {{ interaction(23) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/parma milan.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Parma-Milan</h3>
                        <p>Rigore assegnato</p>
                        {{ interaction(24) }}
                    </div>
                </div>
            </div>
        </section>
         <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 9</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/fiore juve.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Fiorentina-Juve</h3>
                        <p>Rigore revocato</p>
                        {{ interaction(25) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/inter milan.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Inter-Milan</h3>
                        <p>Rigore assegnato</p>
                        {{ interaction(26) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/torino como.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Torino-Como</h3>
                        <p>Rigore assegnato</p>
                        {{ interaction(27) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 10</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/milan lazio.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Milan-Lazio</h3>
                        <p>Tocca di mano in area di rigore, non punibile per fallo precedente</p>
                        {{ interaction(28) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/parma udinese.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Parma-Udinese</h3>
                        <p>Giallo incrementato a rosso</p>
                        {{ interaction(29) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/roma napoli.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Roma-Napoli</h3>
                        <p>Contatto non punibile, goal confermato</p>
                        {{ interaction(30) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 11</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/cagliari roma.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Cagliari-Roma</h3>
                        <p>Cartellino da giallo incremantato in rosso</p>
                        {{ interaction(31) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/cremonese lecce.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Cremonese-Lecce</h3>
                        <p>Rigore assegnato</p>
                        {{ interaction(32) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/verona atalanta.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Verona-Atalanta</h3>
                        <p>Tocca di mano non punibile, goal confermato</p>
                        {{ interaction(33) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 12</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/sassuolo milan.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Milan-Sassuolo</h3>
                        <p>Contatto non punibile</p>
                        {{ interaction(34) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/parma lazio.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Parma-Lazio</h3>
                        <p>Cartellino rosso</p>
                        {{ interaction(35) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/udinese napoli.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Udinese-Napoli</h3>
                        <p>Goal annullato,per fallo</p>
                        {{ interaction(36) }}
                    </div>
                </div>
            </div>
        </section>
        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Sezione 13</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/cagliari pisa.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Cagliari-Pisa</h3>
                        <p>Cartellino giallo</p>
                        {{ interaction(37) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/lazio cremonese.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Lazio-Cremonese</h3>
                        <p>Tocco di mano non punibile</p>
                        {{ interaction(38) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/sassuolo torino.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Sassuolo-Torino</h3>
                        <p>Rigore revocato, fallo precedente</p>
                        {{ interaction(39) }}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

</body>
</html>