<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Episodi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">
</head>
<body>

    {% include 'header.html' %}

    <!--section js, like_dislike, comment for no repeat-->
    {% macro interaction(id_video) %}
    <div class="interactive_sec">
        <div class="like_dislike_sec">
            <button class="btn_like_dislike" onclick="LikeOrNot(this, 'like')">
                &#128077; </button>
            <button class="btn_like_dislike" onclick="LikeOrNot(this, 'like')">
                &#128078; </button>
        </div>

        <div class="ref_decision">
            <span class="decision_lbl">La giuria arbitrale ha deciso correttamente?</span>
            <div class="decision_btn">
                <button class="btn_right_wrong" onclick="RightOrNot(this, 'giusta')">Si!</button>
                <button class="btn_right_wrong" onclick="RightOrNot(this, 'sbagliata')">No!</button>
            </div>
        </div>

        <div class="comment">
            <div class="comment_sec">
                <input type="text" class="comment_box" placeholder="Scrivi il tuo parere..">
                <button class="btn_comment" onclick="InviaCommento(this)">Invia</button>
            </div>
        </div>
    </div>
    {% endmacro %}

    <main class="ep_main">
        <div class="ep_title">
            <h1>Tutte le decisioni di OpenVar</h1>
            <p>Rivivile giornata per giornata!</p>
        </div>

        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Giornata 1</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/video1.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Partita 1</h3>
                        <p>Il giocatore commette fallo</p>
                        {{ interaction(1) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/video1.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Partita 2</h3>
                        <p>Il giocatore commette fallo</p>
                        {{ interaction(2) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/video1.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Partita 3</h3>
                        <p>Il giocatore commette fallo</p>
                        {{ interaction(3) }}
                    </div>
                </div>
            </div>
        </section>

        <section class="ep_wrapper">
            <div class="ep_wrap_title">
                <h2>Giornata 2</h2>
                <span class="arrow" onclick="HideVideo(this)">&#9660;</span>
            </div>

            <div class="video_container">
                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/video1.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Partita 1</h3>
                        <p>Il giocatore commette fallo g2 p1</p>
                        {{ interaction(4) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/video1.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Partita 2</h3>
                        <p>Il giocatore commette fallo</p>
                        {{ interaction(5) }}
                    </div>
                </div>

                <div class="sec_video">
                    <div class="video">
                        <video controls>
                            <source src="{{ url_for('static', filename='video_salvati/video1.mp4') }}" type="video/mp4">
                        </video>
                    </div>
                    <div class="video_info">
                        <h3>Partita 3</h3>
                        <p>Il giocatore commette fallo</p>
                        {{ interaction(6) }}
                    </div>
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

</body>
</html>