   <footer id="footer">
        <div id = "back_footer" class = "footer">
            
            <div id="logo_footer">
                <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo_image" id="logo_image_footer">
            </div>

            <div class="footer-section">
            <h3>Esplora: </h3>
            <ul>
                <li><a href="{{ url_for('HomePage') }}">HomePage</a></li>
                <li><a href="{{ url_for('Regolamento') }}">Regolamento</a></li>
                <li><a href="{{ url_for('Arbitri') }}">InfoArbitri</a></li>
                <li><a href="{{ url_for('Notizie') }}">NewsCalcio</a></li>
            </ul>
            </div>

        <div class="footer-section">
            <h3>Note Legali:</h3>
          <ul>
             <li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></li>
             <li><a href="{{ url_for('cookie_policy') }}">Cookie Policy</a></li>
             <li><a href="{{ url_for('termini_e_condizioni') }}">Termini e Condizioni</a></li>
         </ul>
        </div>

            <div id="about_us">
              <h3>Contatti: </h3>
             <ul>
                <li><a href="{{ url_for('About_Us')}}">Chi siamo?</a></li>
                <li><p>assistenza@aftervar.it</p></li>
                <li><p>0815471367</p></li>
                <li><p>Napoli, Italia</p></li>
             </ul>
            </div>
        
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>