<header>
    <div id = "back_header" class = "header">
        
        <div id="menu_3_linee"  onclick="toggleMenu()">
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
        </div>


        <div id="logo_container">

            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo_img" id="logo_img">
            
            <div class="scritta_container">
                <img src="{{ url_for('static', filename='images/Scritta_Logo.png') }}" alt="scritta_logo" id="scritta_logo">
            </div>
            
        </div>

        <div id="profile">
            {% if current_user.is_authenticated %}
                <div id="logo_profile" onclick="ProfileMenu()">   
                    <img src="{{ url_for('static', filename='images/immagine_profilo.jpg') }}" alt="logo_img" id="logo2_img">
                </div>

                <div id="profile_dropdown">
                    <div id="label_profile">
                        <p>Ciao</p>
                        <p id="username">{{current_user.username}}</p>
                    </div>
                    <ul id="link_dropdown">
                        <li><a href=''></a>Profilo</li>
                        <li><a href=''></a>Storico</li>
                        <li><a href="{{url_for ('Logout')}}"></a></li>
                    </ul>
                </div>
            {% else %}
                <div class="btn_auth">
                    <a href="{{url_for ('Login')}}" id="btn_login">Login</a>
                    <a href="{{url_for ('Registrazione')}}" id="btn_register">Registrazione</a>
                </div>
            {% endif %}
        </div>
    </div>
    
    <!--Menu section-->
    <div id = "menu_container">
        <ul>
            <li><a href="{{ url_for('HomePage') }}">HomePage</a></li>
            <li><a href="{{ url_for('Episodi') }}">Episodi</a></li>
            <li><a href="{{ url_for('Classifica') }}">Classifica</a></li>
            <li><a href="{{ url_for('Arbitri') }}">Arbitri</a></li>
            <li><a href="{{ url_for('Regolamento') }}">Regolamento</a></li>
            <li><a href="{{ url_for('Notizie') }}">Notizie</a></li>
        </ul>
    </div>
</header>