<header>
    <div id = "back_header" class = "header">
        
        <div id="menu_3_linee"  onclick="toggleMenu()">
            <div class="linea"></div>
            <div class="linea"></div>
            <div class="linea"></div>
        </div>


        <div id="logo_container">

            <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="logo_img" id="logo_img">
            
            <div class="scritta_container">
                <img src="{{ url_for('static', filename='images/Scritta_Logo.png') }}" alt="scritta_logo" id="scritta_logo">
            </div>
            
        </div>

        <div id="profile">
            <img src="{{ url_for('static', filename='images/immagine_profilo.jpg') }}" alt="logo_img" id="logo_img">
        </div>
        
    </div>
    </header>