<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>AfterVar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!--Manage url_for to avoid problem of change directory-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">
</head>

<body>
    
    {% include 'header.html' %}

<main>

    <!--First Image with title and par-->
    <div class="image_container">
        
            <div id="imghp">
                <img src="static/images/sala_var.jpeg" alt="sala_var" id="salavar">
                
                    <div class="scritta_img">
                       <h1>AFTERVAR</h1>
                       <p>Il VAR ha deciso. Ora tocca a te.</p>
                    </div>
            </div>

    </div>

    <!--first section-->
    <div class="first_section">

        <div id="first_s_left">
            <div class="img_1s"><img src="static/images/1_img_1s.jpg" alt="img_1section" class="img_circle"></div>
            <div class="img_1s"><img src="static/images/2_img_1s.jpg" alt="img_1section" class="img_circle"></div>
            <div class="img_1s"><img src="static/images/3_img_1s.jpg" alt="img_1section" class="img_circle"></div>
        </div>
        
        <div id="first_s_right">
            <div class="content_1s">
                <h1>Sei tu l'arbitro ora!</h1>
                <h4>Ora tocca a te prendere la decisione finale</h4>
            </div>
            <div class="content_1s">
                <p>Smettila di urlare contro la TV o allo stadio per un episodio dubbio: sembra tutto più semplice
                    ma ora il comando passa a te.
                    Ogni settimana analizza i frame degli episodi più controversi,valuta l'intensità del contatto 
                    e prendi la decisione finale:
                    hai la freddezza necessaria per emettere la senteza corretta?
                </p>
            </div>
        </div>
    </div>
    <!-- 3 section -->
<section class="class_container">
     <div class="titoli_section">
        <h1> COME FUNZIONA? </h1>
        <h5> Dal caos alla chiarezza in soli 3 step </h5>
     </div>

         <div class="principale_container">

            <div class="imgsection">
                <div class="imgsectionin">
                    <img src="static/images/punto_interrogativo.jpg" alt="punto_interrogativo_calcio">
                </div>
                    <h3> IL PROBLEMA: </h3>
                    <p> "Fuorigioco!!", "Rigoreee!!", "Si è buttato!", "Rossooo!!". 
                Ogni partita finisce quasi SEMPRE nel caos delle opinioni soggettive. 
                Urla, dubbi e polemiche da bar oscurano spesso la verità sportiva.
                    </p>
            </div>

            <div class="imgsection">
                <div class="imgsectionin">
                    <img src="static/images/discutere_decisione.jpg" alt="discutere_decisione">
                </div>
                    <h3> LA SOLUZIONE: </h3>
                    <p> AfterVar porta la moviola nelle tue mani. 
                Una piattaforma digitale dedicata dove gli episodi dubbi vengono isolati e 
                pronti per essere analizzati con calma e freddezza.
                   </p>
            </div>

            <div class="imgsection">
                <div class="imgsectionin">
                    <img src="static/images/giudizio.jpg" alt="giudizio_decisione">
                </div>
                    <h3> IL GIUDIZIO: </h3>
                    <p> Tocca a te estrarre il cartellino. 
                Vota la decisione corretta, confrontati con la community e scopri 
                se il tuo senso del Fair Play corrisponde a quello degli altri.
                   </p>
            </div>

         </div>
 </section>

  <!-- 4 section -->
   <div id = "4_sec_left">
    <h1> Il mondo del VAR </h1>
    <h3> Le terminologie più usate </h3>
    <div id="s4.1"> <h3> DOGSO </h3> </div>
            
    <div> <p> Acronimo della frase "Deny an Obvious Goal Scoring Opportunity", è un fallo fatto da un calciatore
        per negare una chiara ed evidente occasione da rete.E' sempre sanzionato con un espulsione. </p></div>

    <div id="s4.2"> <h3> SPA </h3></div>
    <div><p> Acronimo della frase "Stopping a Promising Attack", si verifica quando un difensore interrompe in 
        maniera fallosa un'azione offensiva degli avversari. E' sanzionato con l'ammonizione e calcio di
        punizione diretto.
    </p></div>

    <div id="s4.3"> <h3> STEP ON FOOT </h3></div>
    <div><p> E' una situazione in cui un giocatore calpesta, in maniera accidentale o intenzionale, il 
        piede di un avversario arrecondagli un danno. A seconda dell'intensità puo' essere sanzionato con
        ammonizione o espulsione.
    </p></div>
    

   </div>

   <div id = "4_sec_right">
    <img src = "{{ url_for('static', filename='images/arb_var.jpg') }}" alt = "arb_consulta_var" class="img_4s"> 
   </div>
    

</main>
    {% include 'footer.html' %}

</body>

</html>