<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>AferVar</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <!--Manage url_for to avoid problem of change directory-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">
</head>

<body>
    
    {% include 'header.html' %}

<main>

    <div class="image_container">
        
            <div id="imghp">
                <img src="static/images/sala_var.jpg" alt="sala_var" id="salavar">
                
                    <div class="scritta_img">
                       <h1>Sei tu l'Arbitro</h1>
                       <p>Il VAR ha deciso. Ora tocca a te.</p>
                    </div>
            </div>

    </div>

 </main>

    {% include 'footer.html' %}

</body>

</html>