<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>News_Calcio</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">

</head>
<body>
    {% include 'header.html' %}

   <main>
        <section class="sec_news">
            <div class="container_news">

                <div class="title_news">
                    <h1>Le News sul calcio</h1>
                    <h4> Tutte le ultime ore sul mondo del calcio</h4>
                </div>

                <div class="grid_news">
            <article class="card_news">
              <div class="img_news">
                 <img src="static/images/calciomercato.jpeg"alt="calciomercato">
             </div>
             <div class="content_news">
                <h3>Calciomercato</h3>
                    <p> Sta per iniziare una nuova finestra di mercato, ovvero la finestra invernale che va in scena dal 2/01/2026 al
                        3/02/2026, il mercato di Serie A: il Flamengo fa sul serio per Castellanos, ma Lotito chiede 35 milioni 
                        per lasciarlo partire. A centrocampo la Lazio tenta l'affondo per Samardzic, con l'Atalanta che apre clamorosamente 
                        alla cessione in prestito. Sirene turche per il Milan: il Fenerbahce pressa per Nkunku, ormai 
                        ai margini del progetto rossonero. 
                        Tutto bloccato invece a Napoli: Manna è stato chiaro,  senza l'uscita di un big o di esuberi 
                        per l'indice di liquidità, il mercato in entrata resterà congelato.
                        Di seguito cliccando sul link potrei visionare tutte le Notizie relative
                        al Calciomercato</p>
                        <a href="https://sport.sky.it/calciomercato" class="btn_news"> L'Ultima ora di Mercato </a>
             </div>
            </article>
                 <article class="card_news">
              <div class="img_news">
              <img src="static/images/nuove_tecnologie.jpg" alt="Le_nuove_tecnlogie">
             </div>
             <div class="content_news">
                <h3>Le nuove Tecnologie</h3>
                    <p> Rivoluzione tecnologica in campo: l'Intelligenza Artificiale non è più solo futuro, ma presente. 
                        I nuovi sistemi di fuorigioco semi-automatico ora dialogano in tempo reale con i sensori biometrici per decisioni millimetriche. 
                        Svolta anche per la salute: club come il Liverpool usano algoritmi predittivi che analizzano i carichi di lavoro per ridurre 
                        gli infortuni muscolari del 30%. 
                        Inoltre, le nuove Body-Cam sugli arbitri offrono ai tifosi una prospettiva di gioco mai vista prima
                        Di seguito cliccando sul link potrei visionare tutte le Notizie relative all'IA e alle Nuove Tecnlogie</p>
                        <a href="https://www.wired.it/article/tattica-vincente-ai-ibm-calcio/" class="btn_news">Scopri i Dettagli</a>
             </div>
            </article>
                 <article class="card_news">
              <div class="img_news">
              <img src="static/images/squadra_del_cuore.jpg" alt="squadra_del_cuore">
             </div>
             <div class="content_news">
                <h3>Rimani aggiornato sull'ultima giornata di Serie A:</h3>
                    <p> Scopri le squalifiche, le multe e le diffide della tua squadra del cuore e non solo:
                        Con la partita tra Roma e Genoa disputata il 29/12/2025 alle 20:45 è conclusa sia la Serie A sia l'ultima
                        partita del 2025.
                        Il campionato ripartirà subito dopo il Capodanno: la 18ª giornata si aprirà venerdì 2 gennaio alle 20.45 
                        con l'anticipo tra Cagliari e Milan. Dopo aver scontato il turno di stop, tornano a disposizione tutti 
                        gli undici giocatori squalificati nel precedente turno. In vista della prossima giornata, però, 
                        il Giudice Sportivo ha fermato un calciatore e un allenatore.
                        Di seguito cliccando sul link potrei visionare tutte le Notizie relative
                        alle squalifiche, alle diffide di calciatori e allenatori comprese le multe inflitte alle società.</p>
                        <a href="https://www.gazzetta.it/calcio/fantanews/30-12-2025/giudice-sportivo-squalificati-serie-a-18-giornata-ci-sono-diego-carlos-e-di-francesco.shtml" class="btn_news">Leggi l'Articolo </a>
             </div>
            </article>
            <article class="card_news">
              <div class="img_news">
              <img src="static/images/logoserieA.jpg" alt="logo_serieA">
             </div>
             <div class="content_news">
                <h3>Rimani aggiornato sulla tua squadra del Cuore</h3>
                    <p> Scopri il Risultato, la posizione in Classifica, i Marcatori della tua squadra del cuore e non solo:
                        Tutti i numeri della Serie A a portata di mano: consulta la Classifica aggiornata e i Risultati dettagliati dell'ultimo turno.
                        Non fermarti al punteggio: analizza i Tabellini completi, la corsa al titolo di Capocannoniere e i migliori Assistman del campionato. 
                        Scopri chi ha l'attacco più prolifico e la difesa d'acciaio con i dati su Goal Fatti e Subiti. 
                        Statistiche essenziali per veri esperti e fantallenatori.
                        Di seguito cliccando sul link potrei visionare tutte le Notizie relative ai goal agli assist dei calciatori, al Risultato.</p>
                        <a href="https://www.legaseriea.it/serie-a/classifica" class="btn_news">Visualizza la Classifica </a>
             </div>
            </article>
            <article class="card_news">
              <div class="img_news">
              <img src="static/images/leghefc.png" alt="logo_FantaCalcio">
             </div>
             <div class="content_news">
                <h3>FantaCalcio</h3>
                    <p> La prossima giornata è alle porte: scopri le ultime dai campi di allenamento. 
                        Chi recupera dall'infortunio e chi partirà dalla panchina? 
                        Analizziamo i ballottaggi più caldi delle big: l'Inter e il Napoli ritrovano i loro Bomber, la Juventus ritrovano
                        il suo pilastro in difesa. 
                        Tutte le scelte degli allenatori per il prossimo turno di Serie A, fondamentali per schierare 
                        la tua formazione al Fantacalcio.
                         Clicca qui sotto per il quadro completo match per match.</p>
                        <a href="https://leghe.fantacalcio.it/" class="btn_news">Visualizza le Formazioni </a>
             </div>
            </article>
                </div>
            </div>
        </section>
   </main>

    {% include 'footer.html' %}

</body>
</html>